/* css til footer */

.footer {
	font: 12px/18px Arial, sans-serif;
	height: 180px;
	background: #2b5b96;
	padding: 1%;
	align-content: center;
}

.footer h3 {
	font-size: 200%;
	font-weight: 600;
	align-self: center;
}

.footer p {
	display: flex;
	font-size: 130%;
	margin-top: 1%;
	line-height: 1.6rem;
	align-self: center;
}

.footer-tekst {
	display: flex;
	width: 80%;
	align-self: center;
	flex-direction: column;
	margin: auto;
}